<%= @product.inspect %>
<br/>
<h1>
  Min:
  <%= @prices.min %>
</h1>
<h1>
  Max
  <%= @prices.max %>
</h1>
<h1>
  Mean
  <%= @prices.mean %>
</h1>
<h1>
  Variance
  <%= @prices.variance %>
</h1>
<h1>
  Standard deviation
  <%= @prices.standard_deviation %>
</h1>
<ul>
<% @listings.each do |listing| %>
  <% if (@prices.mean - listing.price.to_f).abs > @prices.standard_deviation %>
    <li style='background:red'>
      <%= listing.inspect %>
    </li>
  <% else %>
    <li>
      <%= listing.inspect %>
    </li>
  <% end %>
<% end %>
